.DS_Store
Thumbs.db

pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port

resources/public/js/compiled/
resources/public/css/compiled/

*.log
